@use '../colors' as *;
@use 'item';
@use 'date';

window.mainmenu {
  background-color: rgba($bg-dim, 0.1);
}

box.mainmenu {
  background-color: $bg-0;
  border-right: 3px solid $bg-1;
  min-height: 1080px;
  min-width: 434px;
}
