
$surface-darkgrey: #20252b;
$surface-fg: #BBBBBB;
$surface-lightgrey: #3d464e;
$surface-grey: #2b3238;
$surface-red: #f87070;

* {
  all: unset;
  font-family: "CommitMono Nerd Font";
}

@import "./powermenu/powermenu.scss"
@import "./taskbar/taskbar.scss"
