/* $primary: #ab343f; */
/* $secondary: #b23e3e; */
/* $accent: #e8e8eb; */
/* $bgLight: #3b3a4e; */
/* $bgDark: #231e2b; */
/* $text: #f6e7d8; */
/* $primary: #82aac3; */
/* $secondary: #eb836a; */
/* $accent: #eb836a; */
/* $bgLight: #4a4b69; */
/* $bgDark: #201a24; */
/* $text: #f6edb6; */
/* $primary: #4B5CA3; */
/* $secondary: #20362A; */
/* $accent: #e97c63; */
/* $bgLight: #25403F; */
/* $bgDark: #101920; */
/* $text: #f6edb6; */
window {
  color: #EBDBB2;
  font-size: 20px;
  background-color: rgba(29, 32, 33, 0.5);
  border: 2px solid #504945;
  border-radius: 1em; }

#input {
  background-color: #1D2021;
  border: 1px solid #504945;
  border-radius: 0.5em;
  box-shadow: 0px 10px 5px 6px rgba(0, 0, 0, 0.3);
  color: #8EC07C;
  margin-bottom: 1em;
  padding: 0.25em; }

#outer-box {
  padding: 1em; }

#scroll {
  background-color: #1D2021;
  border: 1px solid #504945;
  border-radius: 0.75em;
  box-shadow: 0px 10px 5px 6px rgba(0, 0, 0, 0.3);
  border-radius: 0.75em; }
  #scroll #inner-box {
    padding: 1em; }
    #scroll #inner-box #entry:selected {
      box-shadow: 0px 0px 5px 5px rgba(69, 133, 136, 0.8);
      background-color: rgba(80, 73, 69, 0.9);
      border-radius: 0.7em;
      border-bottom: 2px dotted #8EC07C;
      color: #8EC07C; }

#text {
  padding-left: 0.5em; }
