$bg-dim: #252423;
$bg-0: #32302F;
$bg-1: #665C54;
$fg-0: #EBDBB2;
$bg-yellow: #574833;
$yellow: #FABD2F;
$orange: #FE8019;
$bg-red-0: #472322;
$bg-red-1: #CC241D;
$red: #FB4934;
$bg-aqua: #404946;
$aqua-0: #83A598;
$aqua-1: #8EC07C;
$bg-green: #3D4220;
$green: #B8BB26;
